@{
    ViewBag.Title = "داشبورد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="panel  panel-default">
            <div class="panel-heading">
                <a class="navbar-brand-title" href="#">داشبور </a>
            </div>
            <div class="panel-body">
                <div class="col-md-12 centered">
                    <div class="card">
                        <div class="card-content">
                            <a href="/Manage/path/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-clock-o text-warning"></i>
                                    <h6 class="text-warning">مدیریت کدهای مسیر</h6>
                                </div>
                            </a>
                            <a href="/Manage/TaxiCompany/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-taxi text-info"></i>
                                    <h6 class="text-info">مدیریت آژانس ها</h6>
                                </div>
                            </a>
                            <a href="/Manage/DailyTime/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-calendar text-primary"></i>
                                    <h6 class="text-primary">مدیریت شیفت ها</h6>
                                </div>
                            </a>
                            <a href="/Manage/DailyDriver/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-calendar-plus-o text-danger"></i>
                                    <h6 class="text-danger">مدیریت کارکرد ها</h6>
                                </div>
                            </a>
                            <a href="/Manage/DistancePrice/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-usd text-gray"></i>
                                    <h6 class="text-gray">مدیریت قیمت مسیر ها</h6>
                                </div>
                            </a>
                            <a href="/Manage/Distance/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-subway text-danger"></i>
                                    <h6 class="text-danger">مدیریت مسافت ها</h6>
                                </div>
                            </a>
                            <a href="/manage/RolesAdmin/index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-file"></i>
                                    <h6>مدیریت نقش ها</h6>
                                </div>
                            </a>
                            <a href="/manage/UsersAdmin" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-group text-success"></i>
                                    <h6 class="text-success">مدیریت کاربران</h6>
                                </div>
                            </a>
                            <a href="/Manage/DriverTypePrice/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-credit-card text-danger"></i>
                                    <h6 class="text-danger">مدیریت هزینه راننده</h6>
                                </div>
                            </a>
                            <a href="/Manage/FactoryUserManager/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-university text-primary"></i>
                                    <h6 class="text-primary">مدیریت واحدها</h6>
                                </div>
                            </a>
                            <a href="/Manage/Vehicle/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-truck text-warning"></i>
                                    <h6 class="text-warning">مدیریت وسایل نقلیه</h6>
                                </div>
                            </a>
                            <a href="/Manage/DelayPrice/Index" class="col-md-2">
                                <div class="icon-radius">
                                    <i class="fa fa-hourglass-half text-info"></i>
                                    <h6 class="text-info">مدیریت هزینه انتظار</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
