@model IEnumerable<Transport.Areas.Manage.Models.DriverView>
@{
    ViewBag.Title = "لیست رانندگان";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (User.IsInRole("TranasportManager"))
    {
        Layout = "~/Views/Shared/_LayoutTransportManager.cshtml";
    }
}



<div class="content">
    <div class="container-fluid">

        <div id="PersonnelList">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <div class="col-md-12">

                       <div class="col-lg-2">
                           <div>
                               <br />
                               @Html.ActionLink("ایجاد راننده ", "Create", null, new { @class = "btn btn-danger btn-md fa fa-plus-circle text-btn" })
                           </div>
                       </div>

                       <div id="search-filter">
                           <div class="dropdownselect" id="cust-groupfilter">
                               <input id="SearchString" placeholder="جستجو با نام راننده" name="SearchString" type="text" value="" />
                               @Html.DropDownList("driverTypeId", new SelectList(ViewBag.DriverTypes, "Value", "Text"), "نوع راننده را مشخص نمایید", new { htmlAttributes = new { @class = "form-control" } })
                               فعال ها: <input id="isActive" type="checkbox" checked="checked" />
                               پاک شده ها: <input id="isDelete" type="checkbox" />
                               لیست سیاه: <input id="isBlack" type="checkbox" />
                               <input type="button" value="جستجو" class="btn btn-sm btn-primary cust-btn" id="btnSearch" />
                           </div>

                       </div>
                   </div>
               </div>
               <div class="panel-body">
                   <div id="card-table">
                       <div class="col-md-12">
                           <div class="card">
                               <div class="card-header" data-background-color="purple">
                                   <h4 class="title">رانندگان </h4>
                                   <p class="category">لیست افراد راننده شرکت</p>
                               </div>
                               <div id="DriverList" class="card-content table-responsive">
                                   @Html.Partial("DriverList", Model)
                               </div>
                           </div>
                       </div>

                   </div>
               </div>
           </div>  

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        // Adding popstate event listener to handle browser back button
        window.addEventListener("popstate", function (e) {
            $.ajax({
                url: location.href,
                success: function (result) {
                    $('#DriverList').html(result);
                }
            });
        });

        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { pageNumber: page, Url: url };
                history.pushState(null, obj.pageNumber, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function search() {
            $.ajax({
                url: "/Manage/Driver/Index?searchString=" + $('#SearchString').val() + "&isActive=" + $('#isActive').is(":checked") + "&isDelete=" + $('#isDelete').is(":checked") + "&isBlack=" + $('#isBlack').is(":checked"),
                success: function (result) {
                    ChangeUrl("index", "/Manage/Driver/Index?searchString=" + $('#SearchString').val() + "&isActive=" + $('#isActive').is(":checked") + "&isDelete=" + $('#isDelete').is(":checked") + "&isBlack=" + $('#isBlack').is(":checked"));
                    $('#DriverList').html(result);
                }
            });
        }

        $(function () {
            $("#btnSearch").click(function () {
                search();
            });

            $("#SearchString").keypress(function (e) {
                if (e.keyCode == 13) {
                    search();
                }
            });
            $('body').on('click', '#DriverList .pagination a', function (event) {
                event.preventDefault();
                console.log('page');
                var searchString = $('#SearchString').val();
                var isActive = $('#isActive').is(":checked");
                var isDelete = $('#isDelete').is(":checked");
                var isBlack = $('#isBlack').is(":checked");

                var QueryString = '';
                if (searchString != undefined && searchString != '') {
                    QueryString += '&searchString=' + searchString;
                }
                if (isActive != undefined && isActive != '') {
                    QueryString += '&isActive=' + isActive;
                }
                if (isDelete != undefined && isDelete != '') {
                    QueryString += '&isDelete=' + isDelete;
                }
                if (isBlack != undefined && isBlack != '') {
                    QueryString += '&isBlack=' + isBlack;
                }

                var url = $(this).attr('href') + QueryString;
                console.log(url);
                $.ajax({
                    url: url,
                    success: function (result) {
                        ChangeUrl('index', url);
                        $('#DriverList').html(result);
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#SearchString").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Manage/Driver/AutoPersonel",
                        type: "POST",
                        dataType: "json",
                        data: { searchString: request.term },
                        messages: {
                            noResults: "No results",
                            results: function (count) {
                                return count + (count == 0 ? ' result' : ' results');
                            }
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.FullName, value: item.FullName };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        });
    </script>

}




