@{
    ViewBag.Title = "داشبورد";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <a class="navbar-brand-title" href="#">داشبور </a>
        </div>
        <div class="row">
            <div class="col-md-12 centered">
                <div class="card">
                    <div class="card-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
